
* {
margin: 0px;
padding: 0;
box-sizing: border-box;

}
body{font-family: sans-serif;
text-decoration: solid;}
ul{list-style: none;}

a{text-decoration: none;color:black}
p{color: black;}
ul{text-align: center;}
li{ display: inline;text-align: center;}
img{ max-width: 250px;
max-height: 250px;} 


.contenedor {display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 60% 5%;
    background-color: rgba(107, 224, 126, 0.726);
   
   
}


.principal {float: left;
    max-width: 4500px;
    max-height: 400px;
}

.contenedor header 
{background-color:white;
    border: 3px solid rgba(0, 0, 0, 0.24);
    text-align-last: center;
   
}


.contenedor main {background-color: white;
    border: 3px solid rgba(0, 0, 0, 0.24);
    text-align: center;
background-size: 100%;
}

    

.contenedor footer {background-color:white;
border: 3px solid rgba(0, 0, 0, 0.24);

}

.index {background-color: gainsboro;}
.unpocodemi {background-color: azure;}
.formacion {background-color: gainsboro;}
.proyectos{background-color: azure;}
.contactoli{background-color:gainsboro;}

footer
{  text-align: center;
background-color: white;}

.segundaimg {float: right;
    max-width: 400px;
    max-height: 600px;}

.textoprincipal {display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.dejarcorreo {display:flex;
    justify-content:center;
}

}
.contacto { border: 3px solid rgba(0, 0, 0, 0.24);


}
